/Miacid-Lotus (NO STATE AI)/Miacid-Project1 - Version 3/debug
/Miacid-Lotus (NO STATE AI)/Miacid-Project1 - Version 3/Miacid-Project1 - Version 2/debug
/Miacid-Lotus (NO STATE AI)/Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.ncb
/Miacid-Lotus (NO STATE AI)/Miacid-Project1 - Version 3/Miacid-Project1 - Version 2.suo